{{>sidebar curPage="Yêu cầu"}}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {{>navbar curPage="Yêu cầu"}}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Yêu cầu chỉnh sửa bảng quảng cáo</h6>
                        </div>
                        
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <!-- Detail Request Edit Ads Modal -->
                            <div class="modal fade" id="requestEditAdsModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form action="" id="requestEditAdsForm" onsubmit="requestEditAds(event)">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">
                                                    Yêu cầu chỉnh sửa bảng quảng cáo
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                        <div class="modal-body">
                                            <div class="row g-2">
                                                <div class="col mb-3">
                                                    <label for="adNameRequestEdit" class="form-label">Tên bảng QC</label>
                                                    <input type="text" id="adNameRequestEdit" name="adNameRequest" class="form-control" readonly />
                                                </div>
                                                <div class="col mb-3">
                                                    <label for="adSizeRequestEdit" class="form-label">Kích thước</label>
                                                    <input type="text" id="adSizeRequestEdit" name="adSizeRequest" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <label for="diaChiAdsRequestEdit" class="form-label">Địa chỉ</label>
                                                    <input type="text" id="diaChiAdsRequestEdit" name="diaChiAdsRequest" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="row g-2">
                                                <div class="col mb-3">
                                                    <label for="adQuantityRequestEdit" class="form-label">Số lượng</label>
                                                    <input type="text" id="adQuantityRequestEdit" name="adQuantityRequest" class="form-control" readonly/>
                                                </div>
                                                <div class="col mb-3">
                                                    <label for="expireDayRequestEdit" class="form-label">Ngày hết hạn</label>
                                                    <input type="text" id="expireDayRequestEdit" name="expireDayRequest" class="form-control" readonly/>
                                                </div>
                                            </div>
                                            <div class="row g-2">
                                                <div class="col mb-3">
                                                    <label for="handleAdsEditRequest" class="form-label">Xử lý yêu cầu</label>
                                                    <select id="handleAdsEditRequest" name="handleAdsEditRequest" class="form-control select-form-control">
                                                        <option value="Phê duyệt" selected="selected">Phê duyệt</option>
                                                        <option value="Không phê duyệt" selected="selected">Không phê duyệt</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-center badge bg-label-danger" id="errorMessage"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" name="id" id="idAdsEditRequest" value="" />
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="closeBtnEdit">
                                                Đóng
                                            </button>
                                            <button type="submit" class="btn btn-primary" >
                                                Lưu
                                            </button>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên bảng</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Địa chỉ</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Kích thước</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Số lượng</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Ngày hết hạn</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {{#each editAdsRequests}}
                                    <tr>
                                        <td style="cursor: pointer; max-width: 250px; overflow: hidden; text-overflow: ellipsis;"
                                            data-bs-toggle="modal" data-bs-target="#requestEditAdsModal" onclick="showRequestEditAdsModal(this)" 
                                            data-id="{{id}}" data-ad-name="{{adName}}" data-dia-chi="{{diaChi}}" data-ad-size = "{{adSize}}"
                                            data-ad-quantity="{{adQuantity}}" data-expire-day="{{expireDay}}">
                                            <div class="d-flex px-2">
                                                <div>
                                                    <img src="{{#if imagePath}}{{imagePath}}{{else}}/assets/img/ads/ads.jpeg{{/if}}" class="avatar avatar-sm me-3 border-radius-lg" alt="spotify">
                                                </div>
                                                <div class="my-auto">
                                                    <h6 class="mb-0 text-sm">{{adName}}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="max-width: 245px; overflow: hidden; text-overflow: ellipsis;">
                                            <span class="text-xs text-secondary mb-0">{{diaChi}}, {{khuVuc}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-xs text-secondary">{{adSize}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="me-2 text-xs text-secondary">{{adQuantity}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-xs text-secondary">{{expireDay}}</span>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</main>